<p>
	This is a little song I wrote intended to be in the style of Ramsey Lewis's <a href="http://www.youtube.com/watch?v=rv3pT2JV66g" target="_blank">The In Crowd</a> 
	(and some of his other similarly styled songs)<a href="#1">[1]</a>.
</p>
<p>
	I played all three parts on the keyboard (piano, bass, and drums) and recorded this on GarageBand. I find it to be a bit sloppy at times; for instance,
	the solo over the bridge that begins around 1:44. I also don't feel like I was really able to recreate a similar feel to that of Ramsey Lewis, where the listener
	is inspired to tap his/her foot or get up and dance. I guess I'll keep trying.
</p>
<div id="1">
	<p>
		[1] I'm not sure why musicians have the tendency to call certain songs they write "little" (e.g. the first verse of <a href="http://www.youtube.com/watch?v=d-diB65scQU" 
		target="_blank">Don't Worry Be Happy</a> by Bobby McFerrin). But I have a similar inclination for certain songs I write. I think it comes from the fact that I did not spend 
		much time on this "composition"; I think of this tune more as a platform through which I can explore another idea (in this case, creating a feel
		similar to Ramsey Lewis style jazz).
	</p>
</div>