<p>
	I built this website as a place to share with the world many of the things I have created.
</p>
<p>
	I built the website using Google App Engine, webapp2, Python, Jinja2, jQuery, Bootstrap, and of course HTML, CSS, and JavaScript. Using Jinja2 for templating will make it easy
	to change the style of the website at some point in the future (it's very simple right now). 
</p>
<p>
	I use Google Analytics on this website. To opt out, install a <a href="https://chrome.google.com/webstore/search/do%20not%20track?hl=en" target="_blank">Do Not Track Plugin for Google Chrome</a> or
	<a href="http://support.mozilla.org/en-US/kb/how-do-i-turn-do-not-track-feature"target="_blank">enable the Do Not Track feature in Firefox</a>.
</p>
<p>
	I am open to suggestions on how to improve this website from a technical perspective.
</p>
<p>
	The views expressed on this website are my own and may or may not reflect those of my employer.
</p>